<a ui-sref="home.tvshows" class="btn btn-warning" style="margin-bottom:20px;">Back</a>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">
                <img src="http://image.tmdb.org/t/p/w300_and_h450_bestv2/{{ tvshow.poster_path }}" alt="{{ tvshow.name }}" style="height:400px; width:600px;" />
                <h3 style="font-style:italic; font-weight:bold; text-align: center;">{{ tvshow.name }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom:120px; color:white;">
    <span style="font-weight:bold">Movie Overview:</span>
    <p>{{ tvshow.overview }}</p>
</div>